* {
    box-sizing: border-box;
    margin: 0px;
}

#main-header {
    margin-top: 24px;
    font-size: 48px;
}

.text {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #1f2937;
}
.containers {
    padding: 8px 264px;
}

img {
    width: 250px;
    height:250px;
    }

.items {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.btn {
    border: none;
    background: none;
}

h2 {
    font-size: 36px;
    margin-top: 64px;
    margin-bottom: 48px;
}
.score {
    font-size: 36px;
}
.container-1 {
    margin-top: 32px;
}
.container-2 {
    margin-bottom: 128px;
}
.container-3 {
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}